{"configSettings":[{"appID":"SharedServerToken","serverToken":""},{"appID":"982559377350498","serverToken":"KD6DTSPTUZUSPZAJDMKIBCP3ZGR6532X"},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""},{"appID":"975494208093952","serverToken":"ASIDTDKHKK5JJGKS2R7BEEK7GFQS4YZP"},{"appID":"voiceSDK_en","serverToken":""}]}